[submodule "submodule-one-deploy-validation"]
	path = submodule-one-deploy-validation
	url = git@github.com:OpenNebula/one-deploy-validation.git
	tag = v1.0.0
[submodule "submodule-one-deploy"]
	path = submodule-one-deploy
	url = git@github.com:OpenNebula/one-deploy.git
	branch = master
